APP_NAME="api-not"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=tramite
DB_USERNAME=postgres
DB_PASSWORD=

CACHE_DRIVER=database
CACHE_CONNECTION=pgsql
CACHE_TABLE=cache
QUEUE_CONNECTION=database

MOBILE_PUSH_QUEUE=push
MOBILE_LOG_CHANNEL=stack
MOBILE_TOKEN_TTL_DAYS=30

FCM_ENABLED=false
FCM_PROJECT_ID=
FCM_SERVICE_ACCOUNT_JSON=
FCM_SERVICE_ACCOUNT_JSON_PATH=
FCM_OAUTH_TOKEN_URL=https://oauth2.googleapis.com/token
FCM_SEND_URL=https://fcm.googleapis.com/v1/projects/{project}/messages:send

INTEGRACION_API_TOKEN=